# See http://help.github.com/ignore-files/ for more about ignoring files.

# local settings for datasource
server/*.local.json
server/*.local.js

tiles

# storage
storage

# dependencies
node_modules
yarn.lock

# production
build
dist
# logs
logs

# other
_*

# misc
.DS_Store
.env
.idea
.project
.strong-pm
npm-debug.log

# files
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
